.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navContents{
    display: inline;
    text-align: center;
    padding: 8px;
}

#rightNav{
    float: right;
}

.navLink{
    text-decoration: none;
}

.navLink:hover{
    text-decoration: underline;
}

.container{
    position: fixed;
    top:30%;
    bottom:40%;
    left:45%;
}

.image{
    position: relative;
    left:-35%;
    height: 200px;
    width: 500px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align:center;
}

.googleButton{
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    height: 35px;
    width: 125px;
    background-color:#f8f9fa;
}

.googleButton:hover{
    border-radius:5px;
    height: 35px;
    width: 125px;
    border-color:lightgrey;
}

.LanguageID{
    color:blue;
    text-decoration: none;
}

.LanguageID:hover{
    color:blue;
    text-decoration:underline;
}
