.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navContents{
    display: inline;
    text-align: center;
    padding: 8px;
}

#rightNav{
    float: right;
}

.navLink{
    text-decoration: none;
}

.navLink:hover{
    text-decoration: underline;
}

.container{
    position: fixed;
    top:30%;
    bottom:40%;
    left: 30%;
}

.image{
    position: relative;
    left:20%;
    height: 200px;
    width: 500px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align:center;
}

.googleButton{
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    height: 40px;
    width: 140px;
    background-color:#f8f9fa;
    margin-top:15px;
}

.googleButton:hover{
    border-radius:5px;
    height: 40px;
    width: 140px;
    border-color:lightgrey;
    margin-top:15px;
}

.LanguageID{
    color:blue;
    text-decoration: none;
}

.LanguageID:hover{
    color:blue;
    text-decoration:underline;
}

.Textbox{
    height:30px;
    width:500px;
    background-color: transparent;
    border-color: lightGrey;
    outline-width: 0;
}

.Textbox:hover{
    height:30px;
    width:500px;
    background-color: transparent;
    border-color: lightGrey;
    outline-width: 0;
}

.MagnifyingIcon{
    width:24px;
    height:24px;
    margin-left:10px;
}

.MicIcon{
    width: 24px;
    height: 24px;
}

.searchBoxForm{
    border: lightGrey;
    margin-left:160px;
    height:50px;
    width:600px;
}

.searchBoxForm:hover{
    background-color:blue;
    border-radius: 50px;
}